.TodoItem {
    position: relative;
    display: flex;
    height: var(--todo-item-height);
    padding: 10px 5px;
    align-items: center;
    cursor: default;
    transition: all .2s;
    justify-content: space-between;
    color: black;
    cursor: -webkit-grab;
}
.TodoItem:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}
.TodoItem:hover {
    background-color: rgba(34,50,84,0.03);
}
.TodoItem .container {
    display: flex;
}
.text {
    position: relative;
    font-size: .9rem;
    font-weight: 500;
    transition: all .2s;
}
.text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 0;
    height: 1px;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: black;
}
.text.lineThrough::after {
    width: 100%;
}
.text.animate::after {
    animation-name: strike-reversed;
}
.text.lineThrough.animate::after {
    animation-name :strike;
}
@keyframes strike{
    0%   { width: 0; }
    100% { width: 100%; }
}
@keyframes strike-reversed{
    0%   { width : 100%; }
    100% { width: 0; }
}