.ButtonWithLabel {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
}
.ButtonWithLabel span {
    position: absolute;
    padding-left: 10px;
    left: 100%;
    text-transform: capitalize;
}
.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: all 300ms;
}
.exit {
    opacity: 1;
}
.exitActive {
    opacity: 0;
    transition: all 300ms;
}