.ButtonWithLabel {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
}
.ButtonWithLabel span {
    position: absolute;
    padding-left: 10px;
    left: 100%;
    text-transform: capitalize;
}
