@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/* Common */
:root {
    /* Proportions */
    --side-width: 300px;
    --aside-padding-x: 50px;
    --space-between-tasks: 30px;
    --nav-gap: 20px;
    --main-padding: 50px;
    --todo-item-height: 55px;
    --editor-width: 450px;
    --editor-margin-y: 20px;
    --editor-padding: 30px;
    --footer-btns-margin: 30px;
    --legend-botom-margin: 5px;
    --todo-editor-gap: 15px;
    /* Colors */
    --blue-light: #cce8fe;
    --blue: #198CFF;
    --blue-dark: #1476d8;
    --gray: #7b7b7b;
    --gray-shadow: #7b7b7b91;
    --gray-light: #d8d8d870;
    --green-light: #e4f6d0;
    --green: #3acc6c;
    --green-dark: #38bd66;
    --red-light: #ffe8e9;
    --red: #e40404;
    --yellow-light: #fff2df;
    --yellow: #e6b152;
    --violet-light: #fbedff;
    --violet: #be6bd0;
    --turquoise-light: #e2faf4;
    --turquoise: #79ceb9;
    --orange-light: #ffefdc;
    --orange: #e9783f;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    overflow: hidden;
}
body {
    width: 100vw;
}
