.Sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: var(--side-width);
    background-color: var(--blue-light);
    font-weight: 500;
    user-select: text;
    max-height: 100vh;
    overflow-y: hidden;
}
/* TODO: сделать стили для скроллбара */
.Navigation {
    padding: 75px 0 200px 50px;
    overflow-y: overlay;
    color: var(--blue-light);
	transition: color 0.3s;
}
.Navigation:hover {
    color: var(--gray-midlight);
}
.Navigation::-webkit-scrollbar {
    width: var(--side-scroll-width);
}
.Navigation::-webkit-scrollbar-thumb {
    border-radius: 7px;
    transition: all .3s;
    box-shadow: inset 0 0 0 10px;
}