.Sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: var(--side-width);
    background-color: var(--blue-light);
    font-weight: 500;
    user-select: text;
    max-height: 100vh;
    overflow-y: hidden;
}
/* TODO: сделать стили для скроллбара */
.Navigation {
    padding: 75px 0 200px 50px;
    overflow-y: overlay;
}